/*Estilos de todo el Documento*/
hr{
    border-style:  ridge;
    border-top-style: dotted;
    color: rgb(223, 10, 10);
    margin: 0;
    height: 4px;
}
h2{
    font-family: 'Noto Serif Display', serif;
    font-weight: bold;
    padding: 25px 0;
    color: rgb(20,3,94);
}
h3{
    font-family: 'Noto Serif Display', serif;
    font-weight: bold;   
}
main{
  background-color: #94B49F;
}
/*Header*/
#header{
    text-align: center;
    background-color: #E5E3C9;
    color: rgb(20, 3, 94);
}
#header img{
    width: 15rem;
    margin: 15px 0px 0px 0px;
}
#header h2{
    margin: 80px 0px 0px;
}
/*Main-Descripcion*/
#descripcion{
    background-color: #E5E3C9;
    text-align: center;
    padding: 20px 60px;
}
#descripcion p{
    text-align: justify;
    font-family: 'Roboto';
}
#descripcion span{
    font-weight:bold;
    font-size: 1.2rem;
}
#descripcion img{
    margin: 25px 0 0 0;
    height: 15rem;
    border-radius: 8%;
    border: 2px solid; 
}
/*Main-Habilidades*/
#habilidades{
    text-align: center;
    background-color: #B4CFB0;
    padding: 20px 60px;
}
.ic-hab{
    margin: 60px 0px;
}
.ic-hab i{
    color: rgb(209, 39, 158);
}
.ic-hab i:hover{
    color: rgb(131, 5, 93);
}
/*Main Conocimientos*/
#conocimientos{
    background-color: #94B49F;
    text-align: center;
    padding: 20px 60px;
}
#conocimientos li{
  text-align: left;
}
#conocimientos li p{
    display: inline;
}
.card{
    margin: 30px 0;
}
/*Main Proyectos*/
#proyectos{
    text-align: center;
    background-color: #789395;
    padding: 20px 60px;
    font-size: 2rem;
}
#proyectos img{
    height: 50%;
}
#proyectos button{
    color: #94B49F;
}
#proyectos a{
  color: #000000;
  text-decoration: none;
}
#proyectos h6{
  margin-top: -25px;
}
/*Footer*/
#footer{
    display: inline;
    text-align: center;
}
#footer section{
    background-color: #E5E3C9;
    padding: 2% 29%;
}
#footer i{  
    color: rgb(209, 39, 158);
    margin: 10px 0 0 20px;
}
#footer i:hover{
    color: rgb(131, 5, 93);
}
/*Haciendol responsive design*/
@media (max-width:900px){

}
/*Estilos página contacto*/
#contacto{
  text-align: center;
  background-color: #B4CFB0;
  padding: 20mm 0;
}
#contacto input,#contacto textarea{
  background: linear-gradient(to bottom, #94B49F,#E5E3C9);
  border: none;
  border-radius: 2%;
  width: 60%;
  margin-top: 5px;
}
#contacto input::placeholder, #contacto textarea::placeholder{
  text-align: center;
  color: #8404da;
}
#contacto button{
  margin: auto;
  width: 30%;
  background-color: #404B69;
  color: white  ;
}
/*Estilos de la página games*/
/*Juego de los dados*/
#dice-game .container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
#dice-game .dice {
    text-align: center;
    display: inline-block;
  
  }
  
#dice-game{
    background-color: #393E46;
  }
  
#dice-game h1 {
    margin: 20px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 6rem;
    color: #4ECCA3;
  }
  
#dice-game p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
#dice-game img {
    width: 80%;
  }
  
#dice-game footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
#dice-game button{
    background-color: #4ECCA3;
    width: 9rem;
    height: 3rem;
    border-radius: 30%;
  }
/*Drum*/
#drum {
    text-align: center;
    background-color: #283149;
    margin-top: 50px;
  }
  #drum h1 {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
}
#drum .w {
    background-image: url("../images/crash.png");
}
#drum .a {
    background-image: url("../images/kick.png");
}
#drum .s {
    background-image: url("../images/snare.png");
}
#drum .d {
    background-image: url("../images/tom1.png");
}
#drum .j {
    background-image: url("../images/tom2.png");
}
#drum .k {
    background-image: url("../images/tom3.png");
}
#drum .l {
    background-image: url("../images/tom4.png");
}
#drum .set {
    margin: 10% auto;
}
.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}
#drum .red {
    color: red;
}
#drum .drums{
    outline: none;
    border: 10px solid #404B69;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
  }
  /*Simon Dice*/
  #SimonSays{
    text-align: center;
    background-color: #011F3F;
  }
  #SimonSays #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin:  5%;
    color: #FEF2BF;
  }
  #SimonSays .container {
    display: block;
    width: 50%;
    margin: auto;
  
  }
  #SimonSays .btn {
    margin: 15px;
    display: inline-block;
    height: 180px;
    width: 180px;
    border: 10px solid black;
    border-radius: 20%;
  }
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  #SimonSays .red {
    background-color: red;
  }
  #SimonSays .green {
    background-color: green;
  }
  #SimonSays .blue {
    background-color: blue;
  }
  #SimonSays .yellow {
    background-color: yellow;
  }
  #SimonSays .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
  #SimonSays .playing{
      visibility: hidden; 
  }
  #SimonSays #start{
    width: 100px;
    height: 40px;
    background-color: blanchedalmond;
    font-family: 'Press Start 2P', cursive;
  }
  #botones{
    text-align: center;
    padding: 50px;
  }
